<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artfinity_login</title>
    <link rel="stylesheet" href="../../../../../../../../team/team3/final_TeamProject/templates/css/login.css">
</head>
<body>
    <nav>
        <div class="logo">Art🖍️finity</div>
    </nav>
    <div class="content-box">
        <div class="title">로그인</div>
        <form action="../../../../../../../../team/team3/final_TeamProject/templates/sample_login.html" method="post">
            <input type="email" name="email" placeholder="EMAIL"><br>
            <input type="password" name="password" placeholder="PASSWORD"><br>
            <input type="submit" class="login-btn" value="로그인" >
            
        </form>
        <div class="finder">
            <a href="email_finder.html">이메일 찾기</a>
            <span class="divider">|</span>
            <a href="../../../../../../../../team/team3/final_TeamProject/templates/pw_finder.html">비밀번호 찾기</a>
            <span class="divider">|</span>
            <a href="signup.html">회원가입</a>
        </div>
    </div>
    <script src="../../../../../../../../team/team3/final_TeamProject/templates/js/login.js"></script>
</body>
</html>